<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>Find your local Musicians</title>
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/base.css" rel="stylesheet" media="screen">
	<style>
		{% block style_tag %}
		{% endblock %}
	</style>
</head>

<body>
	<div class="container">
		<div class="row">
			{% block body_fill %}{% endblock %}
	    	<button id='signin' scr='../static/persona-only-signin-link.png'>
	    	<img src="../static/persona-only-signin-link.png" alt="Smiley face" id="signin">
		</div>

	    


	    <div class="row">
	    	<div class="col">
				<ul class="nav nav-tabs" role="tablist">
			  		<li class="active"><a href="#">Home</a></li>
			 		<li><a href="/profile/">Profile</a></li>
			  		<li><a href="/new_user/">New User</a></li>
			  		<li><a href="/map/">Map</a></li>
			  		<li><a href="/messages/">Messages</a></li>
			  		<li><a href="/about/">About</a></li>
			  		<li><a href="/donate/">Donate</a></li>
			  		<li><a href="/search/">Search for Musicians</a></li>
				</ul>
			</div>
		</div>

		<div id="map_canvas">{% block content %}{% endblock %}</div>
		
		{% block form_content %}{% endblock %}

		<div class="row">
	    	<div class="col">
	    		{% block body_content %}{% endblock %}
	    	</div>
	    </div>

		{% block bootstrap_content %}{% endblock %}

		<script src="http://code.jquery.com/jquery.min.js"></script>
		<script src="https://login.persona.org/include.js"></script>
		{% block script_src %}{% endblock %}
		<script>
			{% block script_fxn %}{% endblock %}
			var signinLink = document.getElementById('signin');
			if (signinLink) {
			  signinLink.onclick = function() { navigator.id.request(); };
			}

			var signoutLink = document.getElementById('signout');
			if (signoutLink) {
			  signoutLink.onclick = function() { navigator.id.logout(); };
			}

			var currentUser = null;

			navigator.id.watch({
			  loggedInUser: currentUser,
			  onlogin: function(assertion) {
			    // A user has logged in! Here you need to:
			    // 1. Send the assertion to your backend for verification and to create a session.
			    // 2. Update your UI.
			    $.ajax({ /* <-- This example uses jQuery, but you can use whatever you'd like */
			      type: 'POST',
			      url: '/auth/login', // This is a URL on your website.
			      data: {assertion: assertion},
			      success: function(res, status, xhr) { window.location.reload(); },
			      error: function(xhr, status, err) {
			        navigator.id.logout();
			        alert("Login failure: " + err);
			      }
			    });
			  },
			  onlogout: function() {
			    // A user has logged out! Here you need to:
			    // Tear down the user's session by redirecting the user or making a call to your backend.
			    // Also, make sure loggedInUser will get set to null on the next page load.
			    // (That's a literal JavaScript null. Not false, 0, or undefined. null.)
			    $.ajax({
			      type: 'POST',
			      url: '/auth/logout', // This is a URL on your website.
			      success: function(res, status, xhr) { window.location.reload(); },
			      error: function(xhr, status, err) { alert("Logout failure: " + err); }
			    });
			  }
			});
		</script>
	</div>
</body>
